$page-width = 700px
$mouse-fix-accent = #217DFC
$link-color = #217dfc
$border-color = #cdcdcd
$card-color-dark = rgba(0, 0, 0, 0.04)
$card-color-light = white
$global-background-color = rgba(0,0,0, 0.03)

$shadow-high = 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
$shadow-low = 0px 2px 5px 1px rgba(0, 0, 0, 0.1);