$mf-ui-color-light-neutral = #e8e8e8 // Used for secondary button backgrounds
$mf-ui-color-light = $global-background-color // Used for selected input fields
$mf-ui-color-darker = #002776
$mf-ui-color-primary = $mf-accent // Used in input field underlines
$mf-ui-color-accent = #0073ff
$mf-ui-color-danger = #ff0000
$mf-ui-color-warning = #ff6600
$mf-ui-color-info = #10ffff
$mf-ui-color-success = #1eff34
$mf-ui-color-dark = $mf-accent // Used for primary buttons
$mf-ui-color-dark-neutral = #313131 // Made it so this is used for placeholders

$page-width-max = 650px
$page-width-min = 300px
$global-zoom = 1.22
$global-zoom-mobile = 1.15

//  Vars for undoing zoom [Jul 2025]
//  Undoing the zoom is necessary to position v-popover (Used by MFTypeAhead) correctly
//  I think it's necessary on all browsers except Safari.
//
//  I think this caused several people recently failing to submit feedback and saying that the form is broken. (See https://github.com/noah-nuebling/mac-mouse-fix/issues/1462)
//
//  Alternative solutions I tried:
//  - I could begin to customize the position through `applyStyle`. Something like this: `:popper-options="{ modifiers: { computeStyle: { enabled: false }, applyStyle: { ... } } }"`
//    But couldn't figure out how to get the window size and position of other elements etc. Claude gave me this code and I barely know what's going on.
//  - I tried updating v-popover by updating the @vue/ui library, which depends on the v-tooltip library, which contains the v-popover component. 
//    Tried to update @vue/ui to latest version (^0.12.5) and importing newer version of v-tooltip myself (^2.1.3)
//    However, this however, this only caused additional issues (transparent popover, in Safari, and popover-arrow missing) and doesn't improve the positioning in Edge.
//    Also checked https://new-issue.vuejs.org/?repo=vuejs/core&type=bug-report in Edge and it doesn't have the issue. In their package json, they're still using `"@vue/ui": "^0.5.2"` just like us. -> This let us figure out that the issue stems from our css.
//
//  Sidenote:
//    We introduced the MFTypeAhead in commit d0a41bd206a7ec5d9e82c849db37dbac72ef069e. 

$global-zoom-inverse = calc(1.0/1.22)         
$global-zoom-mobile-inverse = calc(1.0/1.15)

$br = 7px
//$br = 14px

$mf-accent = #217DFC
$link-color = #217dfc
$border-color = #e0e0e0

$card-color-dark = lighten(#e8e8e8, 20%)
$card-color-light = $global-background-color

$global-background-color = #f8f8f8

$mf-ui-input-border = 1.2px solid $border-color

//$shadow-high = 0px 2px 10px 1px rgba(0, 0, 0, 0.2)
//$shadow-inner = inset 0px 0.5px 1px 1px rgba(0, 0, 0, 0.12);

//$shadow-low = 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
// $shadow-card = 0px 3px 5px 1px rgba(0, 0, 0, 0.12), 0px 3px 15px 1px rgba(0, 0, 0, 0.2);
// $shadow-card = 0px 3px 7px 1px rgba(0, 0, 0, 0.20);
// $shadow-card = 0px 3px 5px 1px rgba(0, 0, 0, 0.12), 0px 3px 15px 1px rgba(0, 0, 0, 0.2);
// $shadow-card = 0 2px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 2px 4px rgba(0,0,0,0.11), 0 2px 8px rgba(0,0,0,0.11), 0 2px 16px rgba(0,0,0,0.11), 0 2px 32px rgba(0,0,0,0.11);


$shadow-card-low = 0px 0.5px 3px 1px rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.08)
$shadow-card-high = 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 4px 16px 0 rgba(0, 0, 0, 0.08), 0 8px 32px 0 rgba(0, 0, 0, 0.08)
$corner-radius-card = 5px
$card-highlight = inset 0 1px 0 0 rgba(255, 255, 255, 0.30)
$card-border = 0.5px solid $border-color

$mf-dropdown-spacing = 5px
$mf-dropdown-border = 0.5px solid $border-color
$mf-dropdown-drop-shadow = drop-shadow(0 1px 4px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0.5px 1px rgba(0, 0, 0, 0.17))

$footer-rule-border = 1px solid lighten($mf-ui-color-dark-neutral, 70%)

@-webkit-keyframes mf-ui-focus {
  0% {
    box-shadow: 0 0 0 #000000
  }
  to {
    box-shadow: $mf-border-glow-shadow
  }
}

