$page-width = 700px
$mf-accent = #217DFC
$link-color = #217dfc
$border-color = #cdcdcd
$card-color-dark = rgba(0, 0, 0, 0.04)
$card-color-light = white
$global-background-color = rgba(0,0,0, 0.03)

$shadow-high = 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
$shadow-low = 0px 2px 5px 1px rgba(0, 0, 0, 0.1);

$mf-ui-color-light-neutral = #eeeeee // Used for field backgrounds
$mf-ui-color-darker = #002776
$mf-ui-color-primary = $mf-accent // Used in input field underlines
$mf-ui-color-accent = #0073ff
$mf-ui-color-danger = #ff0000
$mf-ui-color-warning = #ff6600
$mf-ui-color-info = #10ffff
$mf-ui-color-success = #1eff34
$mf-ui-color-light = #ffffff // Used for selected input fields
$mf-ui-color-dark = #535353 // Used for placeholders